@model Show_project.Models.Furniture
@using Show_project.Models


@{
    ViewData["Title"] = "Подробнее о товаре";
}


<div>
    <div class="container well text-center">
        <div>
            <div class="row">
                <div class="col">
                    <img class="leftside" src="@Model.ImageUrl" height="300" width="250" />
                </div>
                <div class="col">
                    <dl>
                        <dt>
                            Название товара: 
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt>
                            Цена: 
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Price) (руб.)
                        </dd>
                        <dt>
                            Описание:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            Цвет: 
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Color)
                        </dd>                   
                    </dl>
                </div>
            </div>

        </div>
       <form action="/home">
           <input type="submit" class="btn btn-success" value="Вернутся к каталогу" />
       </form>
           

            <button type="submit" class="btn btn-success" >
                Добавить в корзину
            </button>

       
    </div>
    
</div>
