@model IList<Show_project.Models.Furniture>
@using Show_project.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог товаров</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style>
        .layout{
                padding-bottom: 40px; /* Поле снизу от текста */
        }
    </style>
</head>
<body>
    <div class="col-md-4 row">
        <div class="list-group">
            @foreach (var category in ViewBag.Category as List<Category>)
            {
                <a href="@category.Title" class="list-group-item">@category.Title</a>
            }
        </div>
    </div>

    <div class="container content">
        <div class="row">
            
            @foreach (var furniture in Model)
            {
                <div class="col-md-4  products well">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <div>
                                    <img src="@furniture.ImageUrl" alt="" height="300" width="340">
                                </div>
                                <p>
                                    <a href="/Furnitures/Details/@furniture.FurnitureId">@furniture.Title</a>
                                </p>
                                <div class="layout">
                                    <p>@furniture.Description</p>

                                </div>

                                <p>@furniture.Price.ToString("# руб")</p>
                            </div>
                        </div>

                    </div>
                </div>

            }
        </div>
    </div>

   



</body>
</html>