@model Shop_project.ViewModels.CartListViewModel
@using Shop_project.Models
@{
    ViewBag.Title = "Shopping Cart";
}

<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Имя
        </th>
        <th>
            Цена
        </th>
        <th>
            Количество
        </th>
        <th></th>
    </tr>
    @foreach (Cart item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @Html.ActionLink(item.Furniture.Title, "Details", "Furnitures", new { id = item.FurnitureId }, null)
            </td>
            <td>
                @item.Furniture.Price
            </td>
            <td id="item-count-@item.RecordId">
                `
                @item.Amount
            </td>

            <td>
                <a class="RemoveLink"
                   data-id="@item.RecordId">
                    @Html.ActionLink("Remove from cart", "RemoveFromShoppingCart", "CartList", new { id = item.RecordId }, null)
                </a>
            </td>
        </tr>
    }

    <tr>
        <td>
            Итог
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>

</table>