@model Shop_project.ViewModels.CartListViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<h3>
    <em>Review</em> your cart:
</h3>

<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @Html.ActionLink("ddds", "Details", "Furnitures", new { id = item.FurnitureId }, null)
            </td>
            <td>
                
            </td>
            <td id="item-count-@item.RecordId">
                @item.Amount
            </td>
            <td>
                <a class="RemoveLink"
                   data-id="@item.RecordId">
                   @Html.ActionLink("Remove from cart", "RemoveFromShoppingCart", "CartList", new { id = item.FurnitureId }, null)
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>